<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactWebpackBoilerplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div id="root"></div>
    <%= yield %>
    <%= javascript_include_tag webpack_path('main') %>
  </body>
</html>
